.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.listDiv {

    display: flex;
    flex-direction: column;
    gap: 0.3rem;
 
}

.icon{
  margin-left: 60%;
}
.Card {
  display: flex;
  background-color: #61dafb;
  color: black;
  flex-direction: column;
  width: 61%;
  margin-left: 17%;
  
}
.formDiv {
  display: flex;
  /* justify-content: center; */
  border-radius: 1px solid;
  background: antiquewhite;
  padding: 5rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
form {
  display: flex;
  gap: 1rem;
  /* border: 1px solid black; */
  padding: 5rem;
  width: 38%;
  background: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 2%;
  border: 1px solid white;
}

h3 {
  position: absolute;
  margin-left: 16rem;
  margin-top: 35px;
  color: white;
}
input {
  padding: 0.2rem;
}

button {
  cursor: pointer;
  outline: none;
  padding: 5px;
  background: #1d85b0;
  color: aliceblue;
  font-weight: 700;
  border: 1px solid black;
}

p {
  cursor: pointer;
}
li {
  list-style-type: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
